/* Global */
h1 input {
  height: 1.5em !important;
}

input[type=number] {
  text-align: center;
}

label {
  font-weight: bold;
}

.datum--input-with-postfix input {
  width: calc(100% - 2em);
}
.datum--input-with-postfix span {
  text-align: center;
}

.grid--label-input {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
}

.grid--label-value-max {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 2fr 4fr 1fr 4fr;
}
.grid--label-value-max span {
  text-align: center;
}

/* Unit Sheet Header */
.rmb-actor-sheet-form header {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    "icon name name"
    "icon strength fatigue";
  grid-template-columns: 100px 2fr 1fr;
}
.rmb-actor-sheet-form header img {
  grid-area: icon;
}
.rmb-actor-sheet-form header h1 {
  grid-area: name;
}
.rmb-actor-sheet-form header .header__strength {
  grid-area: strength;
}
.rmb-actor-sheet-form header .header__fatigue {
  grid-area: fatigue;
}

.rmb-actor-sheet-form section div {
  text-align: center;
}

.rmb-actor-sheet-form table.unit-data {
  margin-top: 1em;
}

.rmb-actor-sheet-form td {
  text-align: center;
}

.rmb-actor-sheet-form ul {
  list-style: none;
  padding-inline-start: 0px;
}
.rmb-actor-sheet-form li {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr 2em;
  margin-bottom: 5px;
}
